import {
  Controller,
  Get,
  Post,
  Put,
  Delete,
  Body,
  Param,
  Query,
  HttpCode,
  HttpStatus,
} from '@nestjs/common';
import { {{ServiceName}}Service } from './{{service-name}}.service';
import { Create{{ResourceName}}Dto, Update{{ResourceName}}Dto, Query{{ResourceName}}Dto } from './dtos';

@Controller('{{resource-name}}')
export class {{ServiceName}}Controller {
  constructor(private readonly {{serviceName}}Service: {{ServiceName}}Service) {}

  @Get()
  async findAll(@Query() query: Query{{ResourceName}}Dto) {
    return this.{{serviceName}}Service.findAll(query);
  }

  @Get(':id')
  async findOne(@Param('id') id: string) {
    return this.{{serviceName}}Service.findOne(id);
  }

  @Post()
  @HttpCode(HttpStatus.CREATED)
  async create(@Body() createDto: Create{{ResourceName}}Dto) {
    return this.{{serviceName}}Service.create(createDto);
  }

  @Put(':id')
  async update(
    @Param('id') id: string,
    @Body() updateDto: Update{{ResourceName}}Dto,
  ) {
    return this.{{serviceName}}Service.update(id, updateDto);
  }

  @Delete(':id')
  @HttpCode(HttpStatus.NO_CONTENT)
  async remove(@Param('id') id: string) {
    return this.{{serviceName}}Service.remove(id);
  }
}
