import { useState } from 'react';

// Types
interface {{ComponentName}}Props {
  // TODO: Define props
}

/**
 * {{ComponentName}} - [Description]
 *
 * @example
 * <{{ComponentName}} />
 */
export function {{ComponentName}}({ }: {{ComponentName}}Props) {
  const [state, setState] = useState<string>('');

  return (
    <div className="{{component-name}}">
      {/* TODO: Implement component */}
    </div>
  );
}

export default {{ComponentName}};
